{% extends 'base.html' %}

{% block body %}


<!-- Main -->
  <section id="main">

    <!-- Thumbnails -->
      <section class="thumbnails">
        {% for movie in movies %}
          <div class="wrapper">
            <a href="{% url 'movies:detail' movie.pk %}">
              <img src="{{ movie.poster_url }}" alt="" />
              <h3>{{ movie.title }}</h3>
              <h3>{{ movie.score }}</h3>
            </a>
          </div>
        {% endfor %}
      </section> 

      
      <!-- <section class="thumbnails">
        {% for movie in movies %}
          <div class="wrapper">
            {% if movie.pk > 0 %}
              <script>
                var row = document.createElement('div');
                var a = document.createElement('a');
                a.setAttribute("href", "{% url 'movies:detail' movie.pk %}");
                var img = document.createElement('img');
                img.setAttribute("src","{{ movie.poster_url }}");
                var title = document.createElement('h1');
                var title_text = document.createTextNode("{{ movie.title }}");
                title.appendChild(title_text);
                var score = document.createElement('h1');
                var score_text = document.createTextNode("{{ movie.score }}");
                score.appendChild(score_text);
                row.appendChild(a);
                row.appendChild(img);
                row.appendChild(title);
                row.appendChild(score);
                $('.wrapper').appendTo(row)
              </script>
            {% endif %}
            {% comment %} <div>
              <a href="{% url 'movies:detail' movie.pk %}">
                <img src="{{ movie.poster_url }}" alt="" />
                <h3>{{ movie.title }}</h3>
                <h3>{{ movie.score }}</h3>
              </a>
            </div> {% endcomment %}
          </div>
        {% endfor %}
      </section>
      -->

  </section>

{% endblock  %}