{% extends 'base.html' %}

{% block body %}

<!-- Main -->
  <section id="main">

    <!-- Thumbnails --> 
      {% comment %}<section class="thumbnails">
        {% for movie in movies %}
          <div class="wrapper">
            <a href="{% url 'movies:detail' movie.pk %}">
              <img src="{{ movie.poster_url }}" alt="" />
              <h3>{{ movie.title }}</h3>
              <h3>{{ movie.score }}</h3>
            </a>
          </div>
        {% endfor %} 
      </section> {% endcomment %}
      
      <div class="row justify-content-center" style="width: 100%; float:none; margin:0 auto">
        {% for movie in movies %}
          <div class="card col-12 col-md-3 m-4 p-1" style="width: 23rem; border-bottom: 20px; border-top: 0px;">
            <a href="{% url 'movies:detail' movie.pk %}">
              <img class="card-img-top" src="{{ movie.poster_url }}" alt="Card image cap" style="width: 19rem";>
              <div class="card-body pb-0" style="width: 19rem";>
                <h4 class="card-text" style="text-align:left;">{{ movie.title }}</h4>
                <h5 class="text-right" style="text-align:right;">{{ movie.score }}</h5>
              </div>
            </a>
          </div>
        {% endfor %}
      </div>
  </section>

{% endblock  %}