{% extends 'base.html' %}

{% block body %}

<!-- Main -->
  <section id="main">

    <!-- Thumbnails -->
      <section class="thumbnails">
        {% comment %} {% for movie in movies %}
          <div class="wrapper">
            <a href="{% url 'movies:detail' movie.pk %}">
              <img src="{{ movie.poster_url }}" alt="" />
              <h3>{{ movie.title }}</h3>
              <h3>{{ movie.score }}</h3>
            </a>
          </div>
        {% endfor %} {% endcomment %}
      </section> 

      <script type="text/javascript">
        $(document).ready(function() { 
        {% for movie in movies %}
          {% if forloop.counter|divisibleby:3 or forloop.counter == 1 %}  
            var div = "";
            div += '<div class="wrapper">';
            div += '<a href="{% url 'movies:detail' movie.pk %}">';
            div += '<img src="{{ movie.poster_url }}" alt="" />';
            div += '<h3>{{ movie.title }}</h3>';
            div += '<h3>{{ movie.score }}</h3></a></div>';
            $(".thumbnails").append(div);
          {% else %}
            var div = "";
            div += '<a href="{% url 'movies:detail' movie.pk %}">';
            div += '<img src="{{ movie.poster_url }}" alt="" />';
            div += '<h3>{{ movie.title }}</h3>';
            div += '<h3>{{ movie.score }}</h3></a>';
            $(".wrapper:last").append(div);
          {% endif %}
        {% endfor %}
        });
  
      </script>

      <!-- <section class="thumbnails">
        {% for movie in movies %}
          <div class="wrapper">
            {% if movie.pk > 0 %}
              <script>
                var row = document.createElement('div');
                var a = document.createElement('a');
                a.setAttribute("href", "{% url 'movies:detail' movie.pk %}");
                var img = document.createElement('img');
                img.setAttribute("src","{{ movie.poster_url }}");
                var title = document.createElement('h1');
                var title_text = document.createTextNode("{{ movie.title }}");
                title.appendChild(title_text);
                var score = document.createElement('h1');
                var score_text = document.createTextNode("{{ movie.score }}");
                score.appendChild(score_text);
                row.appendChild(a);
                row.appendChild(img);
                row.appendChild(title);
                row.appendChild(score);
                $('.wrapper').appendTo(row)
              </script>
            {% endif %}
            {% comment %} <div>
              <a href="{% url 'movies:detail' movie.pk %}">
                <img src="{{ movie.poster_url }}" alt="" />
                <h3>{{ movie.title }}</h3>
                <h3>{{ movie.score }}</h3>
              </a>
            </div> {% endcomment %}
          </div>
        {% endfor %}
      </section>
      -->

  </section>

{% endblock  %}