<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <style>
    span{
      color: coral;
    }

    #p1{
      color: cornflowerblue;
    }

    #p2{
      color: aquamarine;
    }

    #p3{
      color: deeppink;
    }
  </style>
</head>
<body>
  <h1>신이 <span>{{user_name}}</span>를 만들 때... <br>
    <span id='p1'>{{face}}</span> 한 스푼 넣고, <br>
    <span id='p2'>{{hobby}}</span> 두 스푼 넣고, <br>
    <span id='p3'>{{food}}</span> 세 스푼 으아앜 <br>
  </h1>
</body>
</html>